<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - KalamYouthForumWebApp</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/assets/DataTables/datatables.min.css">
    <link rel="stylesheet" href="~/css/site.css" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
</head>
<body>
    <header class="sticky-top">
        <nav class="navbar sticky-top navbar-expand-lg sticky-top navbar-dark bg-dark">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">KalamYouthForumWebApp</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">

                    <div class="navbar-collapse">
                        <ul class="navbar-nav ms-auto flex-nowrap">
                            <!--<li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Index">Home</a>-->
                            @*@Html.ActionLink("Home", "Index", "Home", routeValues: null, htmlAttributes: new { @class = "nav-link" })*@
                            <!--</li>-->
                            <li class="nav-item">
                                <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="About">About</a>
                                @*@Html.ActionLink("About", "About", "Home", routeValues: null, htmlAttributes: new { @class = "nav-link" })*@
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Contact">Contact</a>
                                @*@Html.ActionLink("Contact", "Contact", "Home", routeValues: null, htmlAttributes: new { @class = "nav-link" })*@
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-light" asp-area="" asp-controller="Projects" asp-action="ListProjects">Projects</a>
                                @*@Html.ActionLink("Contact", "Contact", "Home", routeValues: null, htmlAttributes: new { @class = "nav-link" })*@
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-light" asp-area="" asp-controller="BloodDonation" asp-action="Index">Blood Donation</a>
                                @*@Html.ActionLink("Contact", "Contact", "Home", routeValues: null, htmlAttributes: new { @class = "nav-link" })*@
                            </li>
                            <partial name="_LoginPartial" />
                        </ul>

                    </div>
                </div>
            </div>
        </nav>



        @*<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
                <div class="container">
                    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">KalamYouthForumWebApp</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                        <ul class="navbar-nav flex-grow-1">
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                            </li>
                        </ul>
                        <partial name="_LoginPartial" />
                    </div>
                </div>
            </nav>*@
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md">
                    <h4>SignUp for our newsletter</h4>
                    <div class="newsletter-items">
                        <input type="email" name="EmailID" placeholder="Email ID" id="newsletterId" />
                        <input type="image" src="/assets/images/form/newsletter.svg" border="0" onclick="receiveMail()" />
                    </div>
                    <span id="message"></span>
                </div>
                <div class="col-md">
                    <h4>Follow Us</h4>
                    <div class="container" id="follow-us">
                        <div class="row">
                            <div class="row social-icons">
                                <div class="col">
                                    <img src="~/assets/images/icons/facebook.svg" />
                                </div>
                                <div class="col">
                                    <img src="~/assets/images/icons/twitter.svg" />
                                </div>
                                <div class="col">
                                    <img src="~/assets/images/icons/whatsapp.svg" />
                                </div>
                                <div class="col">
                                    <img src="~/assets/images/icons/instagram.svg" />
                                </div>
                                <div class="col">
                                    <img src="~/assets/images/icons/google.svg" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg" id="footer-donate">
                    <h4>Support Us</h4>
                    <a href="#donate" class="btn btn-warning">Donate</a>
                </div>
            </div>
        </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script type="text/javascript" charset="utf8" src="/assets/DataTables/datatables.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>

<script>
    function receiveMail() {
        let input = $('#newsletterId').val();
        console.log(input);
        if (input == null || input === "" || input == "") {
            document.getElementById("message").innerText = "Please enter an Email ID";
        } else {

            var data = { EmailID: $('#newsletterId').val() };

            $.ajax({
                url: '@Url.Action("Create", "NewsletterList")',
                type: "post",
                data: data,
                headers: { "RequestVerificationToken": $('input[name="__RequestVerificationToken"]').val() },
                success: function (result) {
                    document.getElementById("message").innerText = "Successfully subscribed to the newsletter";
                },
                error: function (result) {
                    document.getElementById("message").innerText = "Sorry, there was an error from our end, we are looking into it";
                }
            });
        }

}


</script>