@model KalamYouthForumWebApp.Models.ChapterModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>ChapterModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ChapterID" />
            <div class="form-group">
                <label asp-for="Panchayat" class="control-label"></label>
                <input asp-for="Panchayat" class="form-control" />
                <span asp-validation-for="Panchayat" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Muncipality" class="control-label"></label>
                <input asp-for="Muncipality" class="form-control" />
                <span asp-validation-for="Muncipality" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Taluk" class="control-label"></label>
                <input asp-for="Taluk" class="form-control" />
                <span asp-validation-for="Taluk" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Constituency" class="control-label"></label>
                <input asp-for="Constituency" class="form-control" />
                <span asp-validation-for="Constituency" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OfficeAddress" class="control-label"></label>
                <input asp-for="OfficeAddress" class="form-control" />
                <span asp-validation-for="OfficeAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

