
@{
    ViewData["Title"] = "Management";
}

<h1 class="pt-4 pb-4">Management</h1>

<div class="container">
    <div class="row">
        @if (User.IsInRole("Admin") || User.IsInRole("Moderator") || User.IsInRole("Chapter"))
        {
            <div class="col">
                <div class="card rounded shadow p-3 mb-5 bg-body rounded" style="width: 18rem; height:90%">
                    <div class="card-body">
                        <h5 class="card-title">Chapter Management</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Add/Remove/View chapters and associated SHGs</h6>
                        <p class="card-text">Use this card for accessing the details related to chapters and from that view, access the SHGs</p>
                        <hr />
                        <a asp-action="Index" asp-controller="ChapterModels" class="card-link btn btn-primary">Manage</a>
                    </div>
                </div>
            </div>
        }

        @if (User.IsInRole("Admin") || User.IsInRole("Moderator") || User.IsInRole("Chapter") || User.IsInRole("SHGUser"))
        {
            <div class="col">
                <div class="card rounded shadow p-3 mb-5 bg-body rounded" style="width: 18rem;height:90%">
                    <div class="card-body">
                        <h5 class="card-title">SHG Management</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Add/Remove/View SHGs</h6>
                        <p class="card-text">Use this card for accessing the details related to SHGs</p>
                        <hr />
                        <a asp-action="Index" asp-controller="SHE" class="card-link btn btn-primary">Manage</a>
                    </div>
                </div>
            </div>
        }

        @if (User.IsInRole("Admin") || User.IsInRole("Moderator") || User.IsInRole("ProjectAdmin"))
        {
            <div class="col">
                <div class="card rounded shadow p-3 mb-5 bg-body rounded" style="width: 18rem;height:90%">
                    <div class="card-body">
                        <h5 class="card-title">Project Management</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Add/Remove/View projects</h6>
                        <p class="card-text">Use this card for accessing the project write-ups, image uploads etc</p>
                        <hr />
                        <a asp-action="Index" asp-controller="Projects" class="card-link btn btn-primary">Manage</a>
                    </div>
                </div>
            </div>
        }


        @if (User.IsInRole("Admin"))
        {
            <div class="col">
                <div class="card rounded shadow p-3 mb-5 bg-body rounded" style="width: 18rem;height:90%">
                    <div class="card-body">
                        <h5 class="card-title">User Management</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Add/Remove/Assign User roles</h6>
                        <p class="card-text">Use this card to change the user roles of the registered users, according to their user access permission level.</p>
                        <hr />
                        <a asp-action="Index" asp-controller="Administration" class="card-link btn btn-primary">Manage</a>
                    </div>
                </div>
            </div>
        }

        @if (User.IsInRole("Admin") || User.IsInRole("Moderator") || User.IsInRole("Chapter") || User.IsInRole("SHGUser"))
        {
            <div class="col">
                <div class="card rounded shadow p-3 mb-5 bg-body rounded" style="width: 18rem;height:90%">
                    <div class="card-body">
                        <h5 class="card-title">SHG Member List</h5>
                        <h6 class="card-subtitle mb-2 text-muted">View all registered SHG members</h6>
                        <p class="card-text">Use this card to view all the members registered in all the SHGs.</p>
                        <hr />
                        <form action="/SHE/ViewAllSHGMembers" method="post">
                            <input type="submit" class="card-link btn btn-primary" value="Manage" />
                        </form>
                        @*<a asp-action="Index" asp-controller="Administration" class="card-link btn btn-primary">Manage</a>*@
                    </div>
                </div>
            </div>
        }

        @if (User.IsInRole("Admin") || User.IsInRole("Moderator"))
        {
            <div class="col">
                <div class="card rounded shadow p-3 mb-5 bg-body rounded" style="width: 18rem;height:90%">
                    <div class="card-body">
                        <h5 class="card-title">Users to Chapters Binding</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Add/Remove/Assign Users to different Chapters</h6>
                        <p class="card-text">Use this card to assign registered users to different chapters.</p>
                        <hr />
                        <a asp-action="Index" asp-controller="UserChapters" class="card-link btn btn-primary">Manage</a>
                    </div>
                </div>
            </div>
        }

        @if (User.IsInRole("Admin") || User.IsInRole("Moderator") || User.IsInRole("Chapter"))
        {
            <div class="col">
                <div class="card rounded shadow p-3 mb-5 bg-body rounded" style="width: 18rem;height:90%">
                    <div class="card-body">
                        <h5 class="card-title">Users to SHG Binding</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Add/Remove/Assign Users to different SHG</h6>
                        <p class="card-text">Use this card to assign registered users to different self help groups.</p>
                        <hr />
                        <a asp-action="Index" asp-controller="UserSHG" class="card-link btn btn-primary">Manage</a>
                    </div>
                </div>
            </div>
        }

        @if (User.IsInRole("Admin") || User.IsInRole("Moderator") || User.IsInRole("ProjectAdmin"))
        {
            <div class="col">
                <div class="card rounded shadow p-3 mb-5 bg-body rounded" style="width: 18rem;height:90%">
                    <div class="card-body">
                        <h5 class="card-title">Newsletter List</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Add/Remove newsletter EmailIDs</h6>
                        <p class="card-text">Use this card to manage the list of email ids submitted by readers.</p>
                        <hr />
                        <a asp-action="Index" asp-controller="NewsLetterList" class="card-link btn btn-primary">Manage</a>
                    </div>
                </div>
            </div>
        }

        @if (User.IsInRole("Admin") || User.IsInRole("Moderator") || User.IsInRole("ProjectAdmin"))
        {
            <div class="col">
                <div class="card rounded shadow p-3 mb-5 bg-body rounded" style="width: 18rem;height:90%">
                    <div class="card-body">
                        <h5 class="card-title">Images Management</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Add/Remove/View images</h6>
                        <p class="card-text">Use this card for viewing images added to the project write-ups.</p>
                        <p class="card-text">It's not recommended to delete images using this page, please delete images from the project detail page.</p>
                        <hr />
                        <a asp-action="Index" asp-controller="Images" class="card-link btn btn-primary">Manage</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

