
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<div class="container about-us">
    <div class="row">
        <div class="col about-design">
            <span id="rect1"></span>
            <span id="rect2"></span>
            <h1>About Us</h1>
        </div>
        <div class="col">
            <p>
                If you fail, never give up because FAIL means “First Attempt In Learning"
                Dr apj abdul kalam one of the most influential has been an inspiration to the whole world through his dedicated life journey.
                Throughout his life he maintained his ideals with all its  genuinity inspiring the world.
                Following the footprints of this widely acknowledged ignitor is the basis of dr kalam youth forum.
            </p><p>
                <span class="about-color"> Dr kalam youth forum</span>, a non governmental organization registered under Travancore cochin literary act and scientific and charitable societies act 1955, aims in the empowerment of young generation boosting their skills and providing constant support to the aspirants.
                Dr apj abdul kalam, the missile man of India and the celebrated ignitor of young minds is the central inspiration for this framework.
            </p><p>
                Taking forward the <span class="about-color"> visions</span> of dr apl adbul kalam,kalam youth forum aspires to create positive and effective youth and inbuild qualities of creativity,pereserverance and patriotism in young generation.
            </p><p>
                The <span class="about-color"> mission</span> of the forum is to create a sphere of youngsters who dream big,strive hard and achieve heights.
            </p>
            @*<p>Dr. Kalam Youth Forum is an NGO Registered under The Travancore-Cochin Literary act, Scientific and Charitable Societies Act 1995.</p>
        <p><span class="about-color">Vision</span> is to create positive and effective youth by igniting their minds the way Dr.APJ Abdul Kalam had dreamt, with creativity, perseverance and patriotism.</p>
        <p><span class="about-color">Mission</span> We inspire young minds through the teachings of Dr.APJ Abdul Kalam to strive harder and achieve more in every sphere of life.</p>*@
        </div>
    </div>

</div>