@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<div class="container about-us">
    <div class="row">
        <div class="col-lg about-design">
            <span id="rect1"></span>
            <span id="rect2"></span>
            <h1>About Us</h1>
        </div>
        <div class="col-lg contact-card card-main">
            <p>
                If you fail, never give up because FAIL means “First Attempt In Learning".
            </p>
            <p>
                Dr APJ Abdul Kalam one of the most influential has been an inspiration to the whole world through his dedicated life journey.
                Throughout his life he maintained his ideals with all its  genuinity inspiring the world.
                Following the footprints of this widely acknowledged ignitor is the basis of Dr Kalam Youth Forum.
            </p><p>
                <span class="about-color"> Dr Kalam Youth Forum</span>, a non governmental organization registered under Travancore Cochin Literary Act and Scientific and Charitable Societies ACT 1955, aims in the empowerment of young generation boosting their skills and providing constant support to the aspirants.
                Dr APJ Abdul Kalam, the missile man of India and the celebrated ignitor of young minds is the central inspiration for this framework.
            </p><p>
                Taking forward the <span class="about-color"> visions</span> of Dr. APJ Adbul Kalam, Kalam Youth Forum aspires to create positive and effective youth and inbuild qualities of creativity,pereserverance and patriotism in young generation.
            </p><p>
                The <span class="about-color"> mission</span> of the forum is to create a sphere of youngsters who dream big,strive hard and achieve heights.
            </p>
        </div>
    </div>

</div>