<div class="container about-us contact-us">
    <div class="row">
        <div class="col-lg about-design">
            <span id="rect1"></span>
            <span id="rect2"></span>
            <h1>Contact Us</h1>
        </div>
        <div class="col-lg contact-card text-center">
            <address>
                Kalam Youth Forum<br />
                Kerala, India<br />
                <abbr title="Phone">P:</abbr>
                +91-9876543210
            </address>

            <address>
                <ul class="list-unstyled">
                    <li><strong>President:</strong> <a href="mailto:president@kyf.com">president@kyf.com</a></li>
                    <li><strong>Secretary:</strong> <a href="mailto:secretary@kyf.com">secretary@kyf.com</a></li>
                </ul>
                
                
            </address>
        </div>
    </div>

</div>