@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<address>
    Kalam Youth Forum<br />
    Kerala, India<br />
    <abbr title="Phone">P:</abbr>
    +91-9876543210
</address>

<address>
    <strong>President:</strong> <a href="mailto:Marketing@example.com">president@kyf.com</a>
    <strong>Secretary:</strong> <a href="mailto:Marketing@example.com">secretary@kyf.com</a>
</address>