/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn {
    margin-top: 10px;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  /*margin-bottom: 60px;*/
}
.footer {
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
  padding-bottom: 100px;
}

/*body {*/
    /*padding-top: 50px;*/
    /*padding-bottom: 20px;
}*/

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select {
    max-width: 480px;
}

/*Custom styles comes here*/
.bg-dark {
    background-color: #003844 !important;
    border: none;
}

/* Links in navbar */
.navbar-dark .navbar-nav .nav-link {
    color: #fcfbfb !important;
    /*text-transform: uppercase;*/
}

.nav-item button{
    margin: 1px 0px 0px 0px;
    font-size: 0.9em;
}

.navbar-dark .navbar-nav .nav-link:hover {
    color: #07bbea !important;
}

.nav-item a{

}

a.navbar-username {
    font-style: italic;
}


.navbar {
    padding: 10px 5% 10px 5%;
    font-size: 1.2em;
    box-shadow: 0px 5px 20px 3px #414142cf;
}

.about-us {
    background-color: #dcdcdc;
    padding: 100px;
    border-radius: 10px;
    box-shadow: 0px 5px 20px grey;
}

.about-color {
    color: #003844;
    font-weight: bolder;
    text-transform: uppercase;
}

.about-design {
    position: relative;
}

.about-design h1 {
    color: #003844;
    font-size: 6.25em;
    font-weight: bold;
    z-index: 3;
    position: absolute;
}

#rect1 {
    height: 150px;
    width: 150px;
    border: 10px solid #096d82;
    position: absolute;
    top: 120px;
    left: 173px;
    z-index: 1;
}

#rect2 {
    height: 200px;
    width: 200px;
    border: 10px solid #7298a0;
    position: absolute;
    top: -19px;
    left: 30px;
    z-index: 0;
}

.contact-us #rect1 {
    height: 100px;
    width: 100px;
    left: 152px;
    top: 104px;
}

.contact-us #rect2 {
    height: 150px;
    width: 150px;
}

.about-us.contact-us {
    background-color: #dcdcdc;
}

.contact-card {
    padding: 50px 0px;
    border-radius: 10px;
    background-color: #e6e6e6;
    box-shadow: 0px 10px 20px grey;
    transition: all 0.3s linear;
}
.about-us.contact-us .contact-card:hover {
    box-shadow: 10px 10px 20px grey;
    transform: scale(1.05,1.05); 
}


.about-us .contact-card.card-main {
    padding: 40px;
}
.about-us .contact-card:hover {
    box-shadow: 10px 10px 20px grey;
    transform: none;
}

.container h1{
    padding-top: 30px;
}

address a {
    text-decoration: none;
    color: #003844;
}

/*Project Page*/
.project-carousel > .carousel-item {
    background-size: cover;
    max-height: 300px;
}

img.carousel-item{
    max-height: 300px;

}

.carousel-inner {
    box-shadow: 0px 5px 20px grey;
    border-radius: 10px;
}

.project-info {
    max-height: 300px;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
    scroll-behavior: smooth;
}

.project-item{
    height: 100%;
}

.project-more{
    font-size : 0.9em;
    width: 100%;
    margin-left: 50%;
}

/*Project cards shown in Projects/ListProjects*/
.project-card {
    background-color: #e7e7e7;
    border: 1px solid #d6d5d5;
    border-radius: 7px;
    padding: 20px;
    box-shadow: 0px 10px 30px #989898;
    height: 100%;
    transition: transform 0.3s ease-out;
}
.project-info a{
    text-decoration: none;
    color: #003844;
    transition: font-style 0.3s linear;
}
.project-card h2 a {
    text-decoration: none;
    color: #003844;
    
}
.project-card h2 a:hover{
    color: #004958;
    text-decoration: underline;
    transition: all 0.3s linear;
}

.project-info a:hover{
    color: #003844;
    font-style: italic;
    font-weight: bolder;
}


.project-list {
    margin-bottom: 200px;
}

.project-list button{
    margin: 0;
}

.project-list .input-group{
    margin: 0;
    width: 300px;
    margin-left: auto;
}


.project-card:hover {
    transform: scale(1.05,1.05);
}

.index-project-heading{
    margin-top : 30px;
}
.index-project-heading h2 {
    text-align: left;
    color: #003844;
}


.index-project-heading .col.text-right {
    text-align: right;
}
.index-project-heading .col.text-right a{
    color: #003844;
    padding-top: 10px;
    text-decoration: none;
}
.index-project-heading .col.text-right a:hover{
    color: #2b6875;
    font-weight: bolder;
}

.index-project-card {
    background-color: #003844;
    color: #dbdada;
    padding: 10px;
    height: 100%;
    border-radius: 15px;
    box-shadow: 0px 10px 10px grey;
    transition: all 0.2s ease-in;
}

.index-project-card:hover {
    transform: scale(1.05, 1.05);
    box-shadow: 5px 10px 10px grey;
}


.index-project-card .container{
    padding-top: 15px;
}

.index-project-card h3 {
    color: #a9a438;
}

.index-project-card a{
    text-decoration: none;
    font-style: italic;
    color: navajowhite;
}

.index-project-card a:hover{
    font-style: normal;
    color: #e9d72c;
}

/*footer*/

footer {
    background-color: #a3c6c6;
    text-align: center;
    padding-top: 50px;
}
footer h4{
    color: #094441;
}

footer input[type=email]{
    border: none;
    border-radius: 40px;
    height: 50px;
    padding-left: 10px;
    font: inherit;
}
footer input[type=image]{
    border: none;
    border-radius: 40px;
    height: 50px;
    padding-left: 10px;
    background-color: #ffb100;
    position: relative;
    top: 18px;
    right: 16px;
    color: white;
    width: 50px;
    transition: all 0.4s ease-in;
}

footer input[type=image]:hover{
    background-color: #e37806;
    transform:rotate(-20deg);
}

.social-icons .col {
    padding: 0;
    margin: 0;
}

.social-icons img {
    background-color: white;
    padding: 10px;
    width: 48px;
    border: none;
    border-radius: 20px;
    transition: all 0.3s ease-out;
}

.social-icons img:hover {
    background-color: #d1d1d1;
    transform: scale(1.05, 1.05);
    cursor: pointer;
}

/*.social-icons > .col{
    margin: 0;
    padding: 0;
}*/


@media (min-width: 992px) {
    .container-scroll {
    overflow-x: auto;
  }
  .container-scroll > .row {
    width: 133.33333333%; /* = 100% * 4/3 */
  }
}